.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #490046;
  height: 150px;
  width: 100vw;
  padding-bottom: 0px;
}

.footer-image img {
  height: 20px;
  padding-bottom: 10px;
}

.copyright-info p {
  color: white;
}
