header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: #490046;
  box-shadow: 5px 2px 10px rgb(0, 0, 0, 0.3);
}

.left-section {
  padding-left: 50px;
}

.middle-section {
}

.right-section {
  padding-right: 50px;
}

.left-section,
.middle-section,
.right-section {
  display: flex;
}

.left-section,
.middle-section,
.left-section img {
  height: 25px;
}

button {
  font-family: "Roboto", Arial;
}

.nav-header {
  background-color: #cbff4d;
  border: solid;
  height: 40px;
  width: 120px;
  border-width: 0px;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 700;
  color: #61005c;
  transition: background-color 0.2s ease;
}

.nav-header:hover {
  background-color: transparent;
  border-color: #cbff4d;
  border-width: 2.4px;
  color: #cbff4d;
}
