body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  background-color: rgb(248, 248, 248);
  min-height: 100vh;
  width: 100%;

  background-image: url(/assets/img/img-travelez-bus-ai.png);
  background-size: 70%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
}

form {
  width: 100%;
}

input {
  width: 100%;
  padding: 10px 5px;
  border-radius: 5px;
  border: 1px solid rgb(180, 180, 180);
  margin-top: 4px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

h1 {
  color: #490046;
}

label:has(+ input[required])::after {
  content: " *";
  color: #dc3545;
  font-weight: bold;
  margin-left: 2px;
}

label:has(input[required])::after {
  content: " *";
  color: #dc3545;
  font-weight: bold;
  margin-left: 2px;
}

label:has(+ input[required]) p::after {
  content: " *";
  color: #dc3545;
  font-weight: bold;
}

:root {
  --color-primary: #cbff4d;
  --color-secondary: #490046;
}

.page {
  min-height: calc(100vh - 160px); /* Adjust for header and footer height */
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.landing {
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
}

.container {
  width: 600px;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 2px 4px 7px rgb(0, 0, 0, 0.25);
}

.welcome {
  padding: 30px 20px;
}

.align-center {
  text-align: center;
}

.container p {
  margin: 20px 0px;
}

.action-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.db-connection-stat {
  padding: 10px 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 80px;
  padding-bottom: 70px;
}

.schedule-container {
  display: block;
  flex-direction: column;

  align-items: center;
  padding-bottom: 35px;
  padding-top: 10px;
}

.company-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 20px;
  margin-bottom: 20px;
  height: 70px;
  box-shadow: 2px 2px 7px rgb(0, 0, 0, 0.1);
}

.company-container h1 {
  color: white;
}

.company-container img {
  width: 200px;
}

.company-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
  row-gap: 20px;
}

.route {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px solid rgb(230, 229, 229);
  box-shadow: 2px 2px 7px rgb(0, 0, 0, 0.1);
}

.departed {
  color: rgb(204, 204, 204);
  font-weight: 400;
}

.not-departed {
  color: green;
}

.boarding {
  color: orange;
}

.btn {
  background-color: #490046;
  color: #cbff4d;
  padding: 8px 20px;
  transition: background-color 0.2s ease;
  border: 2px solid var(--color-primary);
  border-radius: 20px;
  font-weight: bold;
  text-decoration: none;
  font-size: 1rem;
}

.btn:hover {
  background-color: #cbff4d;
  color: #490046;
}

.btn-2 {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  padding: 8px 20px;
  border: 2px solid var(--color-secondary);
  border-radius: 20px;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  transition: all 0.2s ease-out;
}

.btn-2:hover {
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  color: var(--color-secondary);
}

.account {
  text-decoration: none;
  font-weight: bold;
  color: var(--color-secondary);
}

.account:hover {
  text-decoration: underline;
}

@media (min-width: 2560px) {
  .page {
    max-width: 1600px;
  }
}

@media (min-width: 1366px) and (max-width: 1919px) {
  .page {
    max-width: 1200px;
  }
}

@media (min-width: 1024px) and (max-width: 1365px) {
  .page {
    max-width: 1000px;
  }
}
